In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
### 1. Count of male and females

In [10]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [12]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [13]:
import re

In [14]:
replace = re.compile("[a-zA-Z]+")

In [15]:
replace

re.compile(r'[a-zA-Z]+', re.UNICODE)

In [18]:
df['cabin_str'] = df['Cabin'].str.extract('[a-zA-Z]+')
df['cabin_num'] = df['Cabin'].str.replace('[a-zA-Z]+', '')

ValueError: pattern contains no capture groups