## Class and Object

In [1]:
class Car:
    pass

In [2]:
audiA6 = Car()

In [3]:
audiA6

In [6]:
audiA6.milage = 10
audiA6.year = 2013
audiA6.make = 101

In [7]:
audiA6.make

101

In [8]:
audiA6.year

2013

In [9]:
year

NameError: name 'year' is not defined

In [10]:
tesla = Car()

In [11]:
## If want to define the milage, make and year of tesla object
## We need to define all of them again

In [15]:
tesla.milage = 20
tesla.year = 2017
tesla.milage = 'T3'
tesla.engineNo = 1111

## To solve creating variable of an object again and again
## We can use body of class

In [35]:
class Car:
    ## First argument behave as a pointer of the class
    def __init__(self, milage, year, make, mod):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = mod
        self.world = "Earth"

In [36]:
tata = Car()

TypeError: __init__() missing 4 required positional arguments: 'milage', 'year', 'make', and 'mod'

In [37]:
tata = Car(20, 2001, 101, "4c5f")

In [38]:
tata.make, tata.milage, tata.year, tata.model

(101, 20, 2001, '4c5f')

In [39]:
tata.make = 1111

In [40]:
tata.make, tata.milage, tata.year, tata.model

(1111, 20, 2001, '4c5f')

In [41]:
tata.world

'Earth'

In [69]:
class Car:
    ## First argument behave as a pointer of the class
    def __init__(self, milage, year, make, mod):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = mod
        self.world = "Earth"
        
    def age(self, current_year):
        return current_year - self.year
    
    def milage_display(self):
        print("Print milage of the car: ", self.milage)

In [70]:
tata2 = Car(20, 2001, 101, "4c5f")

In [71]:
tata2.age

In [72]:
tata2.age(2021)

20

In [73]:
tata2.milage_display()

Print milage of the car:  20

In [74]:
tata2

In [80]:
class Car:
    ## First argument behave as a pointer of the class
    def __init__(self, milage, year, make, mod):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = mod
        self.world = "Earth"
        
    def age(self, current_year):
        return current_year - self.year
    
    def milage_display(self):
        print("Print milage of the car: ", self.milage)
        
    def __str__(self):
        return "This is my car class"

In [81]:
tata2 = Car(20, 2001, 101, "4c5f")

In [82]:
tata2

In [83]:
print(tata2)

This is my car class

-------------

In [142]:
class Student:
    '''
    Student class - It takes 4 arguments name, rollNo, joiningDate, current_topic
    '''
    def __init__(self, name, rollNo, joiningDate, current_topic):
        self.name = name
        self.joiningDate = joiningDate
        self.rollNo = rollNo
        self.current_topic = current_topic
        
    def current_topic_display(self):
        print("The current topic is", self.current_topic)
        
    def str_rollno(self):
        '''
        if type(self.rollNo) == str:
            print("Doing nothing")
        else:
            return str(self.rollNo)'''
        try:
            return "roll no:" + self.rollNo
            
        except Exception as e:
            print("Error for rollNo type -", e)
            
            
    def duration(self, currentDate):
        print("The duration of the student is ", currentDate - self.joiningDate, "years")
        
    def __str__(self):
        print("Inside __str__ function")

In [143]:
siri = Student()

TypeError: __init__() missing 4 required positional arguments: 'name', 'rollNo', 'joiningDate', and 'current_topic'

In [144]:
siri = Student('Siri', "21", 2016, "Oops")

In [145]:
siri.current_topic_display()

The current topic is Oops

In [146]:
siri.duration(2021)

The duration of the student is  5 years

In [147]:
siri.str_rollno()

'roll no:21'

In [148]:
maroon = Student("Maroon", 21, 2020, "Python")

In [149]:
maroon.str_rollno()

Error for rollNo type - can only concatenate str (not "int") to str

In [160]:
class Student:
    '''
    Student class - It takes 4 arguments name, rollNo, joiningDate, current_topic
    '''
    def __init__(self, name, rollNo, joiningDate, current_topic):
        self.name = name
        self.joiningDate = joiningDate
        self.rollNo = rollNo
        self.current_topic = current_topic
        
    def name_parsing(self):
        if type(self.name) == list:
            print("Student Names:")
            for i in self.name:
                print(i)
        
    def current_topic_display(self):
        print("The current topic is", self.current_topic)
        
    def str_rollno(self):
        
        try:
            return "roll no:" + self.rollNo
            
        except Exception as e:
            print("Error for rollNo type -", e)
            
            
    def duration(self, currentDate):
        print("The duration of the student is ", currentDate - self.joiningDate, "years")
        
    def __str__(self):
        #print("Inside __str__ function")
        return "Returning from __str__"

In [161]:
class10 = Student(['Alexa', 'Siri', 'Fox', 'Monkee'], [21, 22, '23', 24], 2016, 'Python Programming')

In [162]:
class10.name

['Alexa', 'Siri', 'Fox', 'Monkee']

In [163]:
class10.name_parsing()

Student Names:
Alexa
Siri
Fox
Monkee

In [164]:
class10

In [165]:
print(class10)

Returning from __str__

### Exercise:

- level-1
1. Create class Data:
2. class varibles - filename, fileType, date, size
3. function file_open
    - create filename if not exist
    - write something in file
    
4. function file_read(filename)
    - read
    
5. file append
    - append new data
    
- level-2
    - maintain log
    - use exception handling

In [181]:
class Data:
    
    def __init__(self, fileName, fileType, date, size):
        self.fileName = fileName
        self.fileType = fileType
        self.date = date
        self.size = size
        
    def file_open(self):
        
        f = open(self.fileName, 'w+')
        write = input("Write you text!")
        f.write(write)
        f.close()
        
    def file_read(self):
        f = open(self.fileName, 'r')
        f.seek(0)
        print(f.read())
        f.close()
        
    def file_append(self):
        f = open(self.fileName, 'a')
        f.write('''
            1st line append
            2nd line append
            3rd line append
        ''')
        f.close()

In [182]:
file1 = Data('file1', 'txt', '20-12-2020', '30KB')

In [183]:
file1.file_read()

            1st line
            2nd line
            3rd line

            1st line append
            2nd line append
            3rd line append

In [177]:
file1.file_open()

In [178]:
file1.file_read()

            1st line
            2nd line
            3rd line

In [179]:
file1.file_append()

In [180]:
file1.file_read()

            1st line
            2nd line
            3rd line

            1st line append
            2nd line append
            3rd line append

In [184]:
file2 = Data('file2', 'txt', '20-12-2020', '30KB')

In [187]:
file2.file_open()

Write you text!This is first line\nNow in 2nd line

In [189]:
file2.file_read()

This is first line\nNow in 2nd line

In [190]:
file2.file_append()

In [197]:
## lvl 2

import logging as lg
lg.basicConfig(filename = 'oops_log', level=lg.ERROR)

class Data:
    
    def __init__(self, fileName, fileType, date, size):
        self.fileName = fileName
        self.fileType = fileType
        self.date = date
        self.size = size
        
    def log(self, log_text):
        lg.ERROR(log_text)
        
    def file_open(self):
        try:
            f = open(self.fileName, 'r')
        except Exception as e:
            print(e)
        else:
            f = open(self.fileName, 'w+')
            write = input("Write you text below:\n")
            f.write(write)
            f.close()
            
        
    def file_read(self):
        f = open(self.fileName, 'r')
        f.seek(0)
        print(f.read())
        f.close()
        
    def file_append(self):
        f = open(self.fileName, 'a')
        f.write('''
            1st line append
            2nd line append
            3rd line append
        ''')
        f.close()

In [198]:
file3 = Data('file3', 'txt', '20-12-2020', '30KB')

In [199]:
file3.file_open()

[Errno 2] No such file or directory: 'file3'