## Tuple, Sets and Dictionary

### Tuple
- Immutable object

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = (134, 34, "data", 3.45, True)
t1

(134, 34, 'data', 3.45, True)

In [5]:
l1 = [134, 34, "data", 3.45, True]
l1

[134, 34, 'data', 3.45, True]

In [6]:
t1[1]

34

In [7]:
t1[2]

'data'

In [8]:
t1[5]

IndexError: tuple index out of range

In [9]:
t1[0:4]

(134, 34, 'data', 3.45)

In [10]:
t1[0:5]

(134, 34, 'data', 3.45, True)

In [11]:
t1[::-1]

(True, 3.45, 'data', 34, 134)

In [12]:
l1

[134, 34, 'data', 3.45, True]

In [14]:
## List is mutable
l1[0] = 'kumar'
l1

['kumar', 34, 'data', 3.45, True]

In [15]:
t1

(134, 34, 'data', 3.45, True)

In [16]:
## Tuple is immutable object.
t1[0] = 'kumar'

TypeError: 'tuple' object does not support item assignment

In [17]:
t1

(134, 34, 'data', 3.45, True)

In [18]:
t2 = (1.69, "kumar", 'True')
t2

(1.69, 'kumar', 'True')

In [19]:
t1 + t2

(134, 34, 'data', 3.45, True, 1.69, 'kumar', 'True')

In [23]:
ta = (1,2)
tb = (3, 4)

In [24]:
ta = ta + tb
ta

(1, 2, 3, 4)

In [26]:
t1 * 2

(134, 34, 'data', 3.45, True, 134, 34, 'data', 3.45, True)

In [27]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [28]:
max((1,2,3))

3

In [30]:
t6 = (1,1,1, 3, 4)
t6

(1, 1, 1, 3, 4)

In [31]:
t1

(134, 34, 'data', 3.45, True)

In [32]:
t1.index(134)

0

In [33]:
t1.index('data')

2

In [34]:
t1.index('Data')

ValueError: tuple.index(x): x not in tuple

In [35]:
t1.index(-23)

ValueError: tuple.index(x): x not in tuple

In [36]:
t6

(1, 1, 1, 3, 4)

In [37]:
t6.count(1)

3

In [38]:
t = ((1,2,4,6), (True, 3+5j, 'ck'), (369, -1234, 'data'))
t

((1, 2, 4, 6), (True, (3+5j), 'ck'), (369, -1234, 'data'))

In [39]:
t7 = ((1,2,4,6), (True, 3+5j, 'ck'), 3, 4, 5, (369, -1234, 'data'), [7, -4, 6, -1])
t7

((1, 2, 4, 6),
 (True, (3+5j), 'ck'),
 3,
 4,
 5,
 (369, -1234, 'data'),
 [7, -4, 6, -1])

In [40]:
t7[1][2]

'ck'

In [43]:
t7[6][1:]

[-4, 6, -1]

In [44]:
t7[1][::-1]

('ck', (3+5j), True)

In [45]:
for element in t7:
    print(element)

(1, 2, 4, 6)
(True, (3+5j), 'ck')
3
4
5
(369, -1234, 'data')
[7, -4, 6, -1]

In [46]:
## if tuple then give data at first index

for tup in t7:
    if type(tup) == tuple:
        print(tup[1])

2
(3+5j)
-1234

In [47]:
t1

(134, 34, 'data', 3.45, True)

In [48]:
t2

(1.69, 'kumar', 'True')

In [49]:
if len(t1) == len(t2):
    print("Same Length!")
else:
    print("Not same")

Not same

In [50]:
t1

(134, 34, 'data', 3.45, True)

In [51]:
t6

(1, 1, 1, 3, 4)

In [52]:
del(t6)

In [53]:
t6

NameError: name 't6' is not defined

### Set

In [54]:
x = set()
type(x)

set

In [66]:
l2 = [1,2,3,3,3,-4,6,6,7, 'ck', '2x', '2x', 'DataSci', 'data', True, True]
l2

[1, 2, 3, 3, 3, -4, 6, 6, 7, 'ck', '2x', '2x', 'DataSci', 'data', True, True]

In [67]:
type(l2)

list

In [71]:
s = set(l2)

In [72]:
s

{-4, 1, 2, '2x', 3, 6, 7, 'DataSci', 'ck', 'data'}

In [73]:
for i in s:
    print(i)

1
2
3
6
7
ck
data
DataSci
2x
-4

In [74]:
'2x' in s

True

In [75]:
'Data' in s

False

In [76]:
s

{-4, 1, 2, '2x', 3, 6, 7, 'DataSci', 'ck', 'data'}

In [77]:
s[0]

TypeError: 'set' object is not subscriptable

In [79]:
set([1, 11, 111, 2, 3, 3, 36, 369,'ck', 'data scientist'])

{1, 11, 111, 2, 3, 36, 369, 'ck', 'data scientist'}

In [80]:
s

{-4, 1, 2, '2x', 3, 6, 7, 'DataSci', 'ck', 'data'}

In [81]:
s2 = set()

In [82]:
s2

set()

In [83]:
s2.add(45)

In [84]:
s2

{45}

In [87]:
s2.add(45)
s2

{45}

In [88]:
s2.add(55)

In [89]:
s2.add('ck')
s2

{45, 55, 'ck'}

In [90]:
s2.add(24, 21)

TypeError: set.add() takes exactly one argument (2 given)

In [91]:
s2.add([24, 21])

TypeError: unhashable type: 'list'

In [92]:
s2

{45, 55, 'ck'}

In [96]:
s2.remove(45)

In [98]:
s

{-4, 1, 2, '2x', 3, 6, 7, 'DataSci', 'ck', 'data'}

In [99]:
s2

{55, 'ck'}

In [100]:
s + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [101]:
s2 * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

### Dictionary

In [102]:
x = {}
type(x)

dict

In [103]:
d = {1, 2}
type(d)

set

In [104]:
d1 = {"name": "Chandan", "age": 23}
d1

{'name': 'Chandan', 'age': 23}

In [105]:
type(d1)

dict

In [106]:
d2 = {"name": "Chandan", "age": 23, 111: 'universe', True: "yes", 3+5j: [1,2,3,4]}
d2

{'name': 'Chandan',
 'age': 23,
 111: 'universe',
 True: 'yes',
 (3+5j): [1, 2, 3, 4]}

In [116]:
d3 = {"id": {"id1": 111, "id2":222}, "name": "Chandan", "age": 23, 111: 'universe', True: "yes", "list1": [1,2,3,4]}
d3

{'id': {'id1': 111, 'id2': 222},
 'name': 'Chandan',
 'age': 23,
 111: 'universe',
 True: 'yes',
 'list1': [1, 2, 3, 4]}

In [117]:
d3['age']

23

In [118]:
d3["id"]

{'id1': 111, 'id2': 222}

In [121]:
d3["list1"], type(d3["list1"])

([1, 2, 3, 4], list)

In [122]:
d3["list1"][2]

3

In [124]:
d3['id']

{'id1': 111, 'id2': 222}

In [125]:
d3['id']['id2']

222

In [126]:
d2

{'name': 'Chandan',
 'age': 23,
 111: 'universe',
 True: 'yes',
 (3+5j): [1, 2, 3, 4]}

In [128]:
d2[111] = 'Universe Sign'
d2

{'name': 'Chandan',
 'age': 23,
 111: 'Universe Sign',
 True: 'yes',
 (3+5j): [1, 2, 3, 4]}

In [130]:
d2[True] = "YES"
d2

{'name': 'Chandan',
 'age': 23,
 111: 'Universe Sign',
 True: 'YES',
 (3+5j): [1, 2, 3, 4]}

In [131]:
d3

{'id': {'id1': 111, 'id2': 222},
 'name': 'Chandan',
 'age': 23,
 111: 'universe',
 True: 'yes',
 'list1': [1, 2, 3, 4]}

In [132]:
d3.keys()

dict_keys(['id', 'name', 'age', 111, True, 'list1'])

In [133]:
d3.values()

dict_values([{'id1': 111, 'id2': 222}, 'Chandan', 23, 'universe', 'yes', [1, 2, 3, 4]])

In [139]:
d3.items()

dict_items([('id', {'id1': 111, 'id2': 222}), ('name', 'Chandan'), ('age', 23), (111, 'universe'), (True, 'yes'), ('list1', [1, 2, 3, 4])])

In [134]:
d2

{'name': 'Chandan',
 'age': 23,
 111: 'Universe Sign',
 True: 'YES',
 (3+5j): [1, 2, 3, 4]}

In [135]:
for i in d2:
    print(i)

name
age
111
True
(3+5j)

In [136]:
for i in d2:
    print(d2[i])

Chandan
23
Universe Sign
YES
[1, 2, 3, 4]

In [137]:
for i in d2.keys():
    print(d2[i])

Chandan
23
Universe Sign
YES
[1, 2, 3, 4]

In [138]:
for i in d2.keys():
    print(d2[i], type(d2[i]))

Chandan <class 'str'>
23 <class 'int'>
Universe Sign <class 'str'>
YES <class 'str'>
[1, 2, 3, 4] <class 'list'>

In [140]:
d2

{'name': 'Chandan',
 'age': 23,
 111: 'Universe Sign',
 True: 'YES',
 (3+5j): [1, 2, 3, 4]}

In [141]:
len(d2)

5

In [142]:
## Exercise

In [143]:
## part1: take input
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [171]:
para = input("Enter the para")

Enter the para"he Zen of Python, by Tim Peters  Beautiful is better than ugly. Explicit is better than implicit. Simple is better than complex. Complex is better than complicated. Flat is better than nested. Sparse is better than dense. Readability counts. Special cases aren't special enough to break the rules. Although practicality beats purity. Errors should never pass silently. Unless explicitly silenced."

In [172]:
para

'"he Zen of Python, by Tim Peters  Beautiful is better than ugly. Explicit is better than implicit. Simple is better than complex. Complex is better than complicated. Flat is better than nested. Sparse is better than dense. Readability counts. Special cases aren\'t special enough to break the rules. Although practicality beats purity. Errors should never pass silently. Unless explicitly silenced."'

In [173]:
## Part2: convert para into list

para_list = para.split()
para_list

['"he',
 'Zen',
 'of',
 'Python,',
 'by',
 'Tim',
 'Peters',
 'Beautiful',
 'is',
 'better',
 'than',
 'ugly.',
 'Explicit',
 'is',
 'better',
 'than',
 'implicit.',
 'Simple',
 'is',
 'better',
 'than',
 'complex.',
 'Complex',
 'is',
 'better',
 'than',
 'complicated.',
 'Flat',
 'is',
 'better',
 'than',
 'nested.',
 'Sparse',
 'is',
 'better',
 'than',
 'dense.',
 'Readability',
 'counts.',
 'Special',
 'cases',
 "aren't",
 'special',
 'enough',
 'to',
 'break',
 'the',
 'rules.',
 'Although',
 'practicality',
 'beats',
 'purity.',
 'Errors',
 'should',
 'never',
 'pass',
 'silently.',
 'Unless',
 'explicitly',
 'silenced."']

In [174]:
len(para_list)

60

In [175]:
## part3: remove duplicates
para_unique = set(para_list)
para_unique

{'"he',
 'Although',
 'Beautiful',
 'Complex',
 'Errors',
 'Explicit',
 'Flat',
 'Peters',
 'Python,',
 'Readability',
 'Simple',
 'Sparse',
 'Special',
 'Tim',
 'Unless',
 'Zen',
 "aren't",
 'beats',
 'better',
 'break',
 'by',
 'cases',
 'complex.',
 'complicated.',
 'counts.',
 'dense.',
 'enough',
 'explicitly',
 'implicit.',
 'is',
 'nested.',
 'never',
 'of',
 'pass',
 'practicality',
 'purity.',
 'rules.',
 'should',
 'silenced."',
 'silently.',
 'special',
 'than',
 'the',
 'to',
 'ugly.'}

In [176]:
len(para_unique)

45

In [177]:
## part4

para_dict = {}
key_itr = 0
for i in para_unique:
    para_dict[i] = 'Chandan Kumar'

In [178]:
para_dict

{'special': 'Chandan Kumar',
 'nested.': 'Chandan Kumar',
 'Peters': 'Chandan Kumar',
 'the': 'Chandan Kumar',
 'never': 'Chandan Kumar',
 'complicated.': 'Chandan Kumar',
 'complex.': 'Chandan Kumar',
 'Beautiful': 'Chandan Kumar',
 'Complex': 'Chandan Kumar',
 'practicality': 'Chandan Kumar',
 'Python,': 'Chandan Kumar',
 'Sparse': 'Chandan Kumar',
 'Simple': 'Chandan Kumar',
 'should': 'Chandan Kumar',
 'is': 'Chandan Kumar',
 'Readability': 'Chandan Kumar',
 'better': 'Chandan Kumar',
 'dense.': 'Chandan Kumar',
 'silently.': 'Chandan Kumar',
 'Tim': 'Chandan Kumar',
 'purity.': 'Chandan Kumar',
 'than': 'Chandan Kumar',
 'Explicit': 'Chandan Kumar',
 "aren't": 'Chandan Kumar',
 'of': 'Chandan Kumar',
 'ugly.': 'Chandan Kumar',
 'break': 'Chandan Kumar',
 'Flat': 'Chandan Kumar',
 'Zen': 'Chandan Kumar',
 'rules.': 'Chandan Kumar',
 'counts.': 'Chandan Kumar',
 'Unless': 'Chandan Kumar',
 'Special': 'Chandan Kumar',
 'Errors': 'Chandan Kumar',
 'to': 'Chandan Kumar',
 'explicitly': 'Chandan Kumar',
 'pass': 'Chandan Kumar',
 '"he': 'Chandan Kumar',
 'beats': 'Chandan Kumar',
 'Although': 'Chandan Kumar',
 'enough': 'Chandan Kumar',
 'cases': 'Chandan Kumar',
 'silenced."': 'Chandan Kumar',
 'by': 'Chandan Kumar',
 'implicit.': 'Chandan Kumar'}

In [179]:
len(para_dict)

45

In [180]:
para_dict.values()

dict_values(['Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar', 'Chandan Kumar'])

In [181]:
tuple(para_dict.values())

('Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar',
 'Chandan Kumar')

In [182]:
print(para_dict.keys())

dict_keys(['special', 'nested.', 'Peters', 'the', 'never', 'complicated.', 'complex.', 'Beautiful', 'Complex', 'practicality', 'Python,', 'Sparse', 'Simple', 'should', 'is', 'Readability', 'better', 'dense.', 'silently.', 'Tim', 'purity.', 'than', 'Explicit', "aren't", 'of', 'ugly.', 'break', 'Flat', 'Zen', 'rules.', 'counts.', 'Unless', 'Special', 'Errors', 'to', 'explicitly', 'pass', '"he', 'beats', 'Although', 'enough', 'cases', 'silenced."', 'by', 'implicit.'])

In [183]:
## Comperhension

para_dict1 = {}
{para_dict1[i] : 'Chandan Kumar' for i in para_unique}

KeyError: 'special'